.hero {
    background: url('../../shared/herosection.png');
    width: 100%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.hero-search {
    max-width: 700px;
    min-height: 50px;
}

.hero-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 30px;
}

.cards{
    max-width: 1000px;
    margin: 20px auto ;
}

.cards-results{
    color:#4094F7;
}

.cards-info{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items:center;
    font-size: 16px;
}

.cards-filter{
    display: flex;
    align-items:center;
}

.cards-filter-input{
    max-width: 100px;
    max-height: 30px;
    text-align: center;  
}

.cards-sort{
    max-height: 40px;
    max-width: 228px;
}