.rest-header{
    font-weight: 600;
    font-size: 64px;
}

.rest-wrapper{
    min-width: 900px;
}

.contacts-field{
    margin-bottom: 20px;
}

.contacts-field > span{
    margin-left: 10px;
}

.booking-info{
    position: absolute;
    right: 60px;
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

.info-tables{
    font-weight: 700;
    margin-bottom: 10px;
}

