@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.main-header {
  margin-bottom: 40px;
  /* color: #440381; */
  color: #26408B;
  font-size: 40px;
  margin-top: 40px;
}

.main-wrapper {
  max-width: 1000px;
  margin: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  grid-gap: 25px;
}

.input-error{
  color: red;
  font-size: 0.9em;
  overflow-wrap: normal;
}

.empty-state{
  color: #C7C4C4;
  font-size: 50px;
}